html {
    box-sizing: border-box;
    cursor: default;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}